@charset "UTF-8";
@font-face {
    font-family: font3;
    src: url(fonts/font3.otf);
}

@font-face {
    font-family: font4;
    src: url(fonts/font4.otf);
}

@font-face {
    font-family: font5;
    src: url(fonts/font5.otf);
}

@media only screen and (min-width: 601px) {
    #kartica {
        min-width: 220px;
        max-width: 230px;
    }
}

@media only screen and (max-width: 600px) {
    #kartica {
        width: 60%;
    }
}

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#naslov {
    font-family: font5;
    color: rgb(29, 100, 158);
    text-shadow: 0 0 15px rgb(87, 159, 211), 0 0 10px rgba(87, 160, 211, .7);
}

.card {
    display: inline-block;
    margin-bottom: 5px;
}

.card img {
    height: 160px;
}

a {
    text-decoration: none;
}

#navbar {
    background: rgb(29, 100, 158) !important;
    border-bottom: 1px solid #39ff14;
}

#navbar a:hover {
    color: #39ff14 !important;
    text-decoration: none;
    text-shadow: #39ff14 0 0 15px;
    border-bottom: 1px solid #39ff14;
}

#registracija_dugme {
    background: rgb(19, 19, 19);
    color: white;
}

.wrapper i {
    padding: 10px;
    text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.6);
    transition: all ease-in-out 150ms;
}

.wrapper i:hover {
    margin-top: -3px;
    text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
}

#unos {
    background: #F8CF40;
}

#unos:hover {
    background: rgb(87, 160, 211);
    color: white;
}

#sidebar a,
#sidebar a:hover,
#sidebar a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    width: 100%;
    background: rgb(29, 100, 158);
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    background: rgb(1, 58, 105);
}

.sidebar-header {
    border-radius: 0 0 0 50px;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: rgb(1, 58, 105);
    background: #edf1fe;
}

#sidebar a[data-toggle="collapse"] {
    position: relative;
}

#sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar ul ul {
    background: #f7fcfe;
    color: #000034;
}

#sidebar ul ul li:hover {
    background: #edf1fe;
}

#sidebar ul li label {
    font-size: 13px;
}

#detaljnije {}

#detaljnije:hover {
    color: black !important;
}

#pretraga1 {
    background: rgb(87, 160, 211);
}

#pretraga1:hover {
    background: rgb(1, 58, 105) !important;
}

select {
    background: rgb(1, 58, 105) !important;
    color: white !important;
}

label {
    font-weight: bold;
}

footer a {
    color: rgb(1, 58, 105)!important;
}

footer a:hover {
    color: rgb(30, 123, 210)!important;
    text-decoration: none;
    text-shadow: rgb(30, 123, 210) 0 0 7px;
}

footer {
    background-color: rgb(233, 233, 233);
}

#registracija_form small {
    color: red;
}
#json_odgovor{
    font-size: 25px;
    font-weight: bold;
}
/* Animacija dok se ucitavaju podaci sa servera */
/* Najbolje se vidi ako se pogreši ime servera */


.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
    margin: 15px;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  /* Animacija dok se ucitavaju podaci sa servera */