* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card {
    display: inline-block;
}

.card img {
    height: 160px;
    ;
}

header {
    margin-bottom: 0;
    font-family: 'Courier New', Courier, monospace;
}
